.first-div{
  color: blue;
}

.second-div{
  color: red;
}

#unique-id{
  color:green;
  text-decoration: l  ine-through;
}

/* Select every element on the page using "*" */

*{
  color: black;
}

/* Select immidiate element after h3 */
h3 + ul{
  border: 4px dotted purple;
}

/* Select decendant elements or all element inside li */
li a{
  color: red;
}

/* Another way to target element is get anchor tag inside li as shown below */
li a[href="www.npr.org"]{
  color blue;
  border: 5px solid orange;
}
